@page
@model BugTrackerWeb.Pages.Dashboard.EditTicketModel
@{
}


<br />
<h2 class="text-info">Update ticket</h2>
<div class="border container" style="padding:30px;">
    <form method="post">
        <input type="hidden" asp-for="EditedTicket.Id"/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="EditedTicket.Title"></label>
            </div>
            <div class="col-6">
                <input asp-for="EditedTicket.Title" class="form-control" />
            </div>
            <span asp-validation-for="EditedTicket.Title" class="text-danger field-validation-valid">Required</span>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="EditedTicket.Author"></label>
            </div>
            <div class="col-6">
                <input asp-for="EditedTicket.Author" class="form-control" />
            </div>
            <span asp-validation-for="EditedTicket.Author" class="text-danger field-validation-valid">Author required</span>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="EditedTicket.ProjectId"></label>
            </div>
            <div class="col-6">
                <input asp-for="EditedTicket.ProjectId" class="form-control" />
            </div>
            <span asp-validation-for="EditedTicket.ProjectId" class="text-danger field-validation-valid">Project ID required</span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-4">
                <input type="submit" value="Update" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-for="Index" class="btn btn-success form-control">Back to the dashboard</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
