@model BugTrackerWeb.Pages.ProjectOwnerView.ManageUsersModel

@{
    @if (Model.TeamMembersVm.Qas.Count() > 0)
    {
        foreach (var qa in Model.TeamMembersVm.Qas)
        {
            <row>
                <td>
                    <span>@qa.Name</span>
                </td>
                <td>
                    <button onclick="Delete(@qa.Id,@Model.TeamMembersVm.ProjectId)" class="btn-danger">Discharge from project</button>
                </td>
            </row>
            <br />
        }
    }
    else
    {
        <span class="text-info">There is no user assigned to this project.</span>
    }

}
