@page
@model BugTrackerWeb.Pages.ProjectOwnerView.ManageUsersModel
@{
    <div class="container row p-0 m0">
        <div class="col-6">
            <h2 class="text-info">Your projects</h2>
            @if (Model.AllProjectsVm.Projects.Count() > 0)
            {
                <table class="table">
                    <tr class="table-light">
                        <th>
                            <label asp-for="AllProjectsVm.Projects.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            <label asp-for="AllProjectsVm.Projects.FirstOrDefault().Description"></label>
                        </th>
                    </tr>
                    @foreach (var project in Model.AllProjectsVm.Projects)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => project.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => project.Description)
                            </td>
                            <td>
                                <button data-projectid="@project.Id" class="btn btn-info btn-sm text-white show-team-members">Team members</button>
                            </td>
                            <td>
                                <button data-projectid="@project.Id" class="btn btn-info btn-sm text-white add-member">Add member</button>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>You don't have any tickets in processing</p>
            }
        </div>
        <div class="col">
            <div id="details">
                <h5 class="text-info">Please select 'Team members' or 'Add member' option</h5>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        $('.show-team-members').on('click', function (event) {
            var id = $(this).attr('data-projectid');
            $('#details').load(`/ProjectOwnerView/ManageUsers?handler=TeamMembers&projectid=${id}`);
        })

        $('.add-member').on('click', function (event) {
            var id = $(this).attr('data-projectid');
            $('#details').load(`/ProjectOwnerView/ManageUsers?handler=AddMembers&projectid=${id}`);
        })

        function assign(userId, projectId) {
            console.log('Invoked in partial');
        }

    </script>
    <script src="~/js/PoView/manageUsers.js"></script>
}
