@*@model BugTrackerWeb.Pages.QAView.ProjectDetailsModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<label id="ticket-status">Status</label>
<select id="ticketstatus"></select>
<label asp-for="Description" name="ticketdescription">Description</label>
<input asp-for="Description" data-val="true" data-val-required="OPS" class="form-control" id="ticketdescription" />
<span asp-validation-for="Description" class="text-danger field-validation-valid" data-valmsg-for="Description"></span>
<input id="update-ticket" type="submit" class="btn btn-success text-white" value="Update" />*@
