<a class="list-group-item list-group-item-action bg-light navbar-menu-item" asp-page="/ProjectOwnerView/Index">Dashboard</a>
<a class="list-group-item list-group-item-action bg-light navbar-menu-item" asp-page="/ProjectOwnerView/PendingRequests">Pending requests</a>
<a class="list-group-item list-group-item-action bg-light navbar-menu-item" asp-page="/ProjectOwnerView/Projects">Projects</a>
<a class="list-group-item list-group-item-action bg-light navbar-menu-item" asp-page="/ProjectOwnerView/ManageUsers">Manage teams</a>
<a class="list-group-item list-group-item-action bg-light navbar-menu-item" asp-page="/ProjectOwner/Closed">Closed</a>