<a class="list-group-item list-group-item-action bg-light navbar-menu-item" asp-page="ProjectOwnerView/Index">Dashboard</a>
<a class="list-group-item list-group-item-action bg-light navbar-menu-item" asp-page="NewRequest">Pending requests</a>
<a class="list-group-item list-group-item-action bg-light navbar-menu-item" asp-page="PendingRequests">Projects</a>
<a class="list-group-item list-group-item-action bg-light navbar-menu-item" asp-page="InProcessRequests">Manage teams</a>
<a class="list-group-item list-group-item-action bg-light navbar-menu-item" asp-page="Closed">Closed</a>