<a id="menu-toggle" href="#menu-toggle" class="btn btn-secondary">三</a>
<ul class="sidebar-nav" style="margin-top:15px;">
    <li class="sidebar-brand">
        <a asp-page="/Index" class="navbar-brand">Home</a>
    </li>
    <li>
        <a asp-page="/Pinpad" class="navbar-brand">Pinpad</a>
    </li>
</ul>
