<a class="list-group-item list-group-item-action bg-light navbar-menu-item" asp-page="/UserView/Index">Dashboard</a>
<a class="list-group-item list-group-item-action bg-light navbar-menu-item" asp-page="/UserView/NewRequest">New</a>
<a class="list-group-item list-group-item-action bg-light navbar-menu-item" asp-page="PendingRequests">Pending</a>
<a class="list-group-item list-group-item-action bg-light navbar-menu-item" asp-page="InProcessRequests">In process</a>
<a class="list-group-item list-group-item-action bg-light navbar-menu-item" asp-page="Closed">Closed</a>