@model Application.RequestItems.Queries.GetPendingRequestItems.PendingRequestItemDto
@{

    <h6>Ticket title</h6>
    <span>@Model.Title</span>

    <h5>Steps to reproduce</h5>
    <span>@Model.StepsToReproduce</span>

    <h6>Expected results</h6>
    <span>@Model.ExpectedResult</span>

    <h6>Actual results</h6>
    <span>@Model.ActualResult</span>

}
