@page
@model BugTrackerWeb.Pages.UserView.IndexModel
@{
<section id="usercontent">
    <h1 class="text-info">Dashboard</h1>
    <br />
    <div class="container row p-0 m0">
        <div class="col-6">
            <span class="text-info">Dashboard has not been implemented yet!</span>
        </div>
    </div>
</section>

}