@page
@model BugTrackerWeb.Pages.UserView.InProcessRequestsModel
<link rel="stylesheet" href="~/css/projectdetails.css" />

@{
    <h2 class="text-info">Requests in process</h2>

    <div class="row">
        <div class="col-8">
            @if (Model.InProcessRequestItemsVm.InProcessRequests.Count() > 0)
            {
                <table id="requestsTable" class="table table-striped border table-sm">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="InProcessRequestItemsVm.InProcessRequests.FirstOrDefault().Title"></label>
                        </th>
                        <th>
                            <label asp-for="InProcessRequestItemsVm.InProcessRequests.FirstOrDefault().TicketStatus"></label>
                        </th>
                    </tr>
                    @foreach (var item in Model.InProcessRequestItemsVm.InProcessRequests)
                    {
                        <tr class="clickable-row">
                            <td>
                                @Html.DisplayFor(m => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.TicketStatus)
                            </td>
                            <td>
                                <button data-requestid="@item.Id" class="btn btn-success btn-sm text-white show-details">Details</button>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>You don't have any tickets in processing</p>
            }
        </div>
        <div class="col-sm">
            <h3 class="text-info">Request details</h3>
            <article id="ticketDetails">
                <span class="text-info">You haven't select any requet yet</span>
            </article>
        </div>
    </div>
}

@section Scripts{
    <script src="~/js/UserView/inProcessReq.js"></script>
}