@page
@model BugTrackerWeb.Pages.UserView.NewRequestModel
@{
}
<br />
<h2 class="text-info">Create New Request</h2>
<div class="border container" style="padding:30px;">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!--Title input START-->
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="CreateRequestItemCommand.Title"></label>
            </div>
            <div class="col-6">
                <input asp-for="CreateRequestItemCommand.Title" class="form-control" />
            </div>
            <span asp-validation-for="CreateRequestItemCommand.Title" class="text-danger field-validation-valid">Required</span>
        </div>
        <!--Title input END-->
        <!--Step to reproduce input START-->
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="CreateRequestItemCommand.StepToReproduce"></label>
            </div>
            <div class="col-6">
                <textarea asp-for="CreateRequestItemCommand.StepToReproduce" class="form-control"></textarea>
            </div>
            <span asp-validation-for="CreateRequestItemCommand.StepToReproduce" class="text-danger field-validation-valid">Required</span>
        </div>
        <!--Step to reproduce input END-->
        <!--Expected result input START-->
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="CreateRequestItemCommand.ExpectedResult"></label>
            </div>
            <div class="col-6">
                <textarea asp-for="CreateRequestItemCommand.ExpectedResult" class="form-control"></textarea>
            </div>
            <span asp-validation-for="CreateRequestItemCommand.ExpectedResult" class="text-danger field-validation-valid">Required</span>
        </div>
        <!--Expected result input END-->
        <!--Actual result input START-->
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="CreateRequestItemCommand.ActualResult"></label>
            </div>
            <div class="col-6">
                <textarea asp-for="CreateRequestItemCommand.ActualResult" class="form-control"></textarea>
            </div>
            <span asp-validation-for="CreateRequestItemCommand.ActualResult" class="text-danger field-validation-valid">Required</span>
        </div>
        <!--Actual result input END-->
        <!--Project id input START-->
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="CreateRequestItemCommand.ProjectId">Project name</label>
            </div>
            <div class="col-6">
                <select asp-for="CreateRequestItemCommand.ProjectId" class="form-control" asp-items='@new SelectList(Model.NewRequestItemVm.AvailableProjects,"Key","Value")'></select>
            </div>
            <div>
                <span asp-validation-for="CreateRequestItemCommand.ProjectId" class="text-danger field-validation-valid">Project ID required</span>
            </div>
        </div>
        <!--Project id input END-->
        <div class="form-group row">
            <div class="col-3 offset-4">
                <button asp-page-handler="SaveRequest" class="btn btn-success form-control">Create</button>
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-info form-control">Back to the dashboard</a>
            </div>
        </div>

    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}