@page
@model BugTrackerWeb.Pages.UserView.TIcketDetailsModel
@{
    <label><b>Title</b></label>
    <br />
    <tr>@Model.Ticket.Title</tr>
    <br />
    <label><b>Description</b></label>
    <br />
    <br />
    <br />
    <label><b>Category</b></label>
    <tr>@Model.Ticket.TicketCategory</tr>
    <br />
    <label><b>Ticket status</b></label>
    <tr>@Model.Ticket.TicketStatus</tr>
    <br />
    <label><b>Ticket priority</b></label>
    <tr>@Model.Ticket.TicketPriority</tr>

}
